* {
    padding: 0;
    margin: 0;
    font-family: 'Marck Script', cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

:root {
    --dark-background: #4A4E69;
    --darker-background: #2b2e3d;
    --light-background: #F2E9E4;
    --light-accent: #C9ADA7;
}

button {
    padding: 0.5rem;
    background-color: var(--dark-background);
    color: var(--light-background);
    border-radius: 0.5rem;
    border: none;
}

button:hover {
    background-color: var(--darker-background);
}

body {
    padding: 1rem;
    font-size: 2rem;
    background-color: var(--light-background);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    text-align: center;
}

#addBookModal {
    padding: 0.5rem;
    background-color: var(--dark-background);
    color: var(--light-background);
    border-radius: 0.5rem;
    border: none;
}

#addBookModal:hover {
    background-color: var(--darker-background);
}

.disabled {
    pointer-events: none;
}

/* Library Styles */

#library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.library-listing {
    padding: 1rem;
    background-color: var(--light-accent);
    border-radius: 1rem;
}

/* Form Styles */

#add-book {
    display: none;

    position: fixed;
    width: 40vw;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -20%;
    padding: 1.5rem;
    background-color: var(--dark-background);
    color: var(--light-background);
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(11, 3, 49, 0.71);
}

#add-book h3 {
    text-align: center;
}

#add-book > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#close-modal {
    position: absolute;
    background: none;
    color: var(--light-background);
    top: 20px;
    right: 20px;
    border: none;
}

.read-status-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#close-modal:hover {
    color: var(--light-accent);
}

form > input {
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

form > button {
    background-color: var(--light-background);
    color: var(--darker-background);
    border-radius: 0.5rem;
    border: none;
}

form > button:hover {
    background-color: var(--light-accent);
    border: none;
}

